<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{$css}">
  <link rel="stylesheet" href="{$iconfont}">
  <script src="{$js}jquery-3.2.1.js"></script>
  <script src="{$js}index.js"></script>
</head>

<body>
  <div class="nav-mark"></div>
  <!-- nav start -->
  <nav role="navigation" class="system">
    <ul>
      <li class="nav-header">
        <div class="logo-element">后台</div>
      </li>
      <li class="menu">
        <a href="#" class="item">
          <span class="iconfont see">&#xe652;</span>
          <span>管理员管理</span>
          <span class="iconfont icon-icon"></span>
        </a>
        <ul class="second-level">
          <li><a href="index.php?m=admin&f=admin" target="iframe">用户组</a></li>
          <li><a href="">角色管理</a></li>
        </ul>
      </li>
      <li class="menu">
        <a href="#" class="item">
          <span class="iconfont see">&#xe606;</span>
          <span>用户管理</span>
          <span class="iconfont icon-icon"></span>
        </a>
        <ul class="second-level">
          <li><a href="index.php?m=admin&f=user" target="iframe">用户</a></li>
        </ul>
      </li>
      <li class="menu">
        <a href="#" class="item">
          <span class="iconfont see">&#xe95c;</span>
          <span>留言管理</span>
          <span class="iconfont icon-icon"></span>
        </a>
        <ul class="second-level"></ul>
      </li>
      <li class="menu">
        <a href="#" class="item">
          <span class="iconfont see">&#xe692;</span>
          <span>用户文章管理</span>
          <span class="iconfont icon-icon"></span>
        </a>
        <ul class="second-level"></ul>
      </li>
      <li class="menu">
        <a href="#" class="item">
          <span class="iconfont see">&#xe758;</span>
          <span>角色管理</span>
          <span class="iconfont icon-icon"></span>
        </a>
        <ul class="second-level"></ul>
      </li>
      <li class="menu">
        <a href="#" class='item'>
          <span class="iconfont see">&#xe66f;</span>
          <span>分类管理</span>
          <span class="iconfont icon-icon"></span>
        </a>
        <ul class="second-level">
          <li><a href="index.php?m=admin&f=category&a=manager" target="iframe">管理分类</a></li>
          <li><a href="index.php?m=admin&f=category&a=add" target="iframe">添加分类</a></li>
        </ul>
      </li>
      <li class="menu">
        <a href="#" class='item'>
          <span class="iconfont see">&#xe63f;</span>
          <span>订单管理</span>
          <span class="iconfont icon-icon"></span>
        </a>
        <ul class="second-level"></ul>
      </li>
      <li class="menu">
        <a href="#" class='item'>
          <span class="iconfont see">&#xe60a;</span>
          <span>账户管理</span>
          <span class="iconfont icon-icon"></span>
        </a>
        <ul class="second-level"></ul>
      </li>
      <li class="menu">
        <a href="#" class="item">
          <span class="iconfont see">&#xe6bf;</span>
          <span>推荐位管理</span>
          <span class="iconfont icon-icon"></span>
        </a>
        <ul class="second-level"></ul>
      </li>
    </ul>
  </nav>
  <!-- nav end -->
  <!-- page start -->
  <section class="page">
    <div class="top">
      <button class="btn-primary">
        <span class="iconfont">&#xe7e2;</span>
      </button>
    </div>
    <div class="content-tabs">
      <nav class="page-tabs">
        <ul>
          <li class="active">
            <a href="index.php">首页</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="maincontent">
      <iframe src="" frameborder="0" name="iframe"></iframe>
    </div>
  </section>
  <!-- page end -->
</body>

</html>