<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{$css}">
  <link rel="stylesheet" href="{$iconfont}">
</head>

<body>
  <!-- nav start -->
  <nav role="navigation" class="system">
    <ul>
      <li class="nav-header">
        <div class="logo-element">后台</div>
      </li>
      <li class="menu">
        <a href="#">
          <span class="iconfont icon-shezhi"></span>
        </a>
        <ul class="second-level"></ul>
      </li>
      <li class="menu">
        <a href="#">
          <span class="iconfont icon-huiyuanguanli"></span>
        </a>
        <ul class="second-level"></ul>
      </li>
      <li class="menu">
        <a href="#">
          <span class="iconfont icon-fenleihuanluntai"></span>
        </a>
        <ul class="second-level"></ul>
      </li>
      <li class="menu">
        <a href="#">
          <span class="iconfont icon-wenzhangguanli"></span>
        </a>
        <ul class="second-level"></ul>
      </li>
      <li class="menu">
        <a href="#">
          <span class="iconfont">&#xe6bf;</span>
        </a>
        <ul class="second-level"></ul>
      </li>
    </ul>
  </nav>
  <!-- nav end -->
  <!-- page start -->
  <section class="page">
    <div class="top">
      <button class="btn-primary">
        <span class="iconfont">&#xe7e2;</span>
      </button>
    </div>
    <div class="content-tabs">
      <nav class="page-tabs">
        <ul>
          <li class="active">
            <a href="">首页</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="maincontent"></div>
  </section>
  <!-- page end -->
</body>

</html>