<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href='{$css}'>
</head>
<body>
  <section class="center">
    <p class="left">欢迎使用后台管理</p>
    <div class="right">
      <form action="">
        <p>登录到后台</p>
        <input type="text" placeholder="用户名" name='username' />
        <input type="text" placeholder="密码" name='password' />
        <button type="submit">登陆</button>
      </form>
    </div>
  </section>
</body>
</html>