<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{$css}bootstrap.min.css">
  <link rel="stylesheet" href="{$css}user.css">
</head>
<body>
  <div class="box">
    <a href="" class="btn btn-info add">添加</a>
    <form action="">
    <table class="table table-bordered table-hover qxtable" colnum="">
        <tr>
            <th>选项</th>
            <th></th>
            <th>操作</th>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td></td>
            <td><a href="" class="edit">修改</a></td>
        </tr>
    </table>
        <div class="caozuoCar">
            <div><input type="checkbox" class="quanxuan">全选</div>
            <button type="submit" class="btn btn-danger" style="float: right"><a href="" style="color: #fff">删除</a></button>
        </div>
    </form>
</div>
<div class="formBox">
    <section class="userForm">
        <h3>添加</h3>
        <span class="close glyphicon glyphicon-remove"></span>
        <form action="" method="post">
            <div class="useritem">
                <span>用户名</span>
                <input type="text" class="form-control" name="uname" >
            </div>
            <div class="useritem">
                <span>密码</span>
                <input type="text" class="form-control" name="uname" >
            </div>
            <div class="useritem">
                <span>昵称</span>
                <input type="text" class="form-control" name="uname" >
            </div>
            <div class="useritem">
                <span>头像</span>
                <input type="file" class="form-control" name="uname" >
            </div>
            <div class="useritem">
                <span>等级</span>
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="useritem">
                <span>电话</span>
                <input type="text" class="form-control" name="uname" >
            </div>
            <div class="useritem">
                <span>注册时间</span>
                <input type="date" class="form-control" name="uname">
            </div>
            <button type="submit" class="btn btn-info">添加用户</button>
            <button type="submit" class="btn btn-default"><a href="index.php?m=admin&f=admin&a=showUser">取消</a></button>    </form>
    </section>
    <section class="userForm userForm1">
        <h3>修改</h3>
        <span class="close glyphicon glyphicon-remove"></span>
        <form action="" method="post">
            <div class="useritem">
                <span>用户名</span>
                <input type="text" class="form-control" name="uname" value="匿名">
            </div>
            <div class="useritem">
                <span>密码</span>
                <input type="text" class="form-control" name="uname" value="123456" >
            </div>
            <div class="useritem">
                <span>昵称</span>
                <input type="text" class="form-control" name="uname" value="明子" >
            </div>
            <div class="useritem">
                <span>头像</span>
                <input type="file" class="form-control" name="uname" >
            </div>
            <div class="useritem">
                <span>等级</span>
                <select class="form-control">
                    <option>1</option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="useritem">
                <span>电话</span>
                <input type="text" class="form-control" name="uname" value="17835424211">
            </div>
            <div class="useritem">
                <span>注册时间</span>
                <input type="date" class="form-control" name="uname" readonly value="2017-10-21">
            </div>
            <button type="submit" class="btn btn-info">修改信息</button>
            <button type="submit" class="btn btn-default"><a href="index.php?m=admin&f=admin&a=showUser">取消</a></button>    </form>
    </section>
</div>
<div class="formBox">
    <section class="userForm">
    <h3>添加</h3>
    <span class="close glyphicon glyphicon-remove"></span>
    <form action="" method="post">
        <div class="useritem">
            <span>用户名</span>
            <input type="text" class="form-control" name="uname" >
        </div>
        <div class="useritem">
            <span>密码</span>
            <input type="text" class="form-control" name="uname" >
        </div>
        <div class="useritem">
            <span>等级</span>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <button type="submit" class="btn btn-info">添加管理员</button>
        <button type="submit" class="btn btn-default"><a href="index.php?m=admin&f=admin&a=showAdmin">取消</a></button>
    </form>
</section>
    <section class="userForm userForm1">
        <h3>添加</h3>
        <span class="close glyphicon glyphicon-remove"></span>
        <form action="" method="post">
            <div class="useritem">
                <span>用户名</span>
                <input type="text" class="form-control" name="uname" value="匿名">
            </div>
            <div class="useritem">
                <span>密码</span>
                <input type="text" class="form-control" name="uname" value="123456">
            </div>
            <div class="useritem">
                <span>等级</span>
                <select class="form-control">
                    <option>1</option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <button type="submit" class="btn btn-info">修改信息</button>
            <button type="submit" class="btn btn-default"><a href="index.php?m=admin&f=admin&a=showAdmin">取消</a></button>
        </form>
    </section>
</div>
<div class="formBox">
<section class="userForm">
    <h3>添加</h3>
    <span class="close glyphicon glyphicon-remove"></span>
    <form action="" method="post">
        <div class="useritem">
            <span>文章标题</span>
            <input type="text" class="form-control" name="ctitle" >
        </div>
        <div class="useritem">
            <span>文章内容</span>
            <textarea name="con"rows="3" class="form-control"></textarea>
        </div>
        <div class="useritem">
            <span>发布者</span>
            <input type="text" class="form-control" name="uid" >
        </div>
        <div class="useritem">
            <span>文章封面图</span>
            <input type="file" class="form-control" name="thumb" >
        </div>
        <div class="useritem">
            <span>权限</span>
            <select class="form-control" name="cquanxian">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="useritem">
            <span>所属分类</span>
            <select class="form-control" name="cid">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="useritem">
            <span>价格</span>
            <input type="text" class="form-control" name="price" >
        </div>
        <button type="submit" class="btn btn-info">添加</button>
        <button type="submit" class="btn btn-default"><a href="index.php?m=admin&f=admin&a=showAdmin">取消</a></button>
    </form>
</section>
</div>
</body>
</html>