*{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  color: #262626;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
  font-size: 14px;
}
main.content{
  width: 1200px;
  margin: 0 auto;
}
/* container start */
div.container main.content{
  display: flex;
  justify-content: space-between;
}
/* left start */
div.container main.content article.main-column{
  width: 66.66666667%;
  padding: 0 10px;
}
div.container main.content article.main-column p.title{
  font-size: 22px;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 20px;
}
div.container main.content article.main-column p.info{
  width: 100%;
  height: auto;
  text-align: center;
  border: 1px dashed #999999;
  line-height: 25px;
  color: #31343b;
}
div.container main.content article.main-column div.main-content{
  margin-top: 20px;
  padding: 10px;
  color: #31343b;
  font-size: 16px;
}
/* comment start */
div.container main.content div.comment{
  padding-top: 100px;
}
div.container main.content div.comment div.message form{
  margin-left: 48px;
  position: relative;
}
div.container main.content div.comment div.message form > a{
  position: absolute;
  left: -48px;
}
div.container main.content div.comment div.message form > div.sign{
  text-align: center;
  padding: 10px 15px;
  width: 100%;
  height: 80px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background-color: hsla(0,0%,71%,.1);
  resize: none;
  vertical-align: top;
  outline-style: none;
}
div.container main.content div.comment div.message form > div.sign a{
  width: 78px;
  margin: 27px 10px 0 0;
  padding: 7px 18px;
  font-size: 16px;
  border-radius: 20px;
  color: #fff!important;
  background-color: #3194d0;
  outline: none;
  text-decoration: none;
  display: inline-block;
}
/* publish start */

div.container main.content div.comment div.publish{
  margin-top: 30px;
}
div.container main.content div.comment div.publish div.info{
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
}
div.container main.content div.comment div.publish div.info div.pull-left span{
  font-size: 18px;
  font-weight: 700;
}
div.container main.content div.comment div.publish div.info div.pull-left a{
  margin-left: 10px;
  padding: 4px 8px;
  font-size: 12px;
  color: #969696;
  border: 1px solid #e1e1e1;
  border-radius: 12px;
  text-decoration: none;
}
.active-a{
  color: #2f2f2f!important;
}
div.container main.content div.comment div.publish div.info div.pull-right a{
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #969696;
  text-decoration: none;
}
/* publish end */
div.container main.content div.comment div.comment-list{
  padding: 20px 0 30px;
  border-bottom: 1px solid #f0f0f0;
}
div.container main.content div.comment div.comment-list div.top div.author{
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-start;
}
div.container main.content div.comment div.comment-list div.top div.author a{
  margin-right: 5px;
  width: 38px;
  height: 38px;
  vertical-align: middle;
}
div.container main.content div.comment div.comment-list div.top div.author a img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #ddd;
}
div.container main.content div.comment div.comment-list div.top div.author div.info{
  vertical-align: middle;
}
div.container main.content div.comment div.comment-list div.top div.author div.info a{
  text-decoration: none;
  font-size: 16px;
  color: #333;
}
div.container main.content div.comment div.comment-list div.top div.author div.info p{
  font-size: 12px;
  color: #969696;
}
div.container main.content div.comment div.comment-list div.top div.comment-warp p{
  font-size: 16px;
  margin: 10px 0;
  line-height: 1.5;
  word-break: break-word;
}
div.container main.content div.comment div.comment-list div.top div.comment-warp div.group a{
margin-right: 5px;
font-size: 18px;
vertical-align: middle;
}

div.container main.content div.comment div.comment-list div.comment-sub{
  margin-top: 20px;
  padding: 5px 0 5px 20px;
  border-left: 2px solid #d9d9d9;
}
div.container main.content div.comment div.comment-list div.comment-sub div.comment-sub-list{
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #f0f0f0;
  display: flex;
  justify-content: flex-start;
}
div.container main.content div.comment div.comment-list div.comment-sub div.comment-sub-list > p{
  margin: 0 0 5px;
  line-height: 1.5;
}
div.container main.content div.comment div.comment-list div.comment-sub div.comment-sub-list > p a{
  color: #3194d0;
}
div.container main.content div.comment div.comment-list div.comment-sub div.comment-sub-list div.sub-group{
  font-size: 12px;
  color: #969696;
}
div.container main.content div.comment div.comment-list div.comment-sub div.comment-sub-list div.sub-group > a{
  margin-left: 10px;
  color: #969696;
}
/* comment end */
/* left end */
div.container main.content div.side-column{
width: 33.33333333%;
}
div.container main.content div.side-column div.author{
margin-bottom: 10px;
box-shadow: 0 1px 3px rgba(0,0,0,.1);
background-color: #fff;
border-radius: 2px;
}
div.container main.content div.side-column div.author p:first-child{
  padding: 0 16px;
  text-align: left;
  vertical-align: middle;
  height: 50px;
  border-bottom: 1px solid #f0f2f7;
  font-weight: 700;
  white-space: nowrap;
}
div.container main.content div.side-column div.author div.section{
  padding: 16px 20px;
  display: flex;
  justify-content: flex-start;
}
div.container main.content div.side-column div.author div.section > div > p{
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #1e1e1e;
}
div.container main.content div.side-column div.author div.answer{
  padding: 16px 20px;
}
div.container main.content div.side-column div.author div.answer div.board{
  display: flex;
  justify-content: space-around;
}
div.container main.content div.side-column div.author div.answer div.board a{
  text-decoration: none;
  color: #8590a6;
  text-align: center;
  cursor: pointer;
}
div.container main.content div.side-column div.author div.answer div.board a p:nth-of-type(1){
  line-height: 20px;
  color: #8590a6;
}
div.container main.content div.side-column div.author div.answer div.board a p:nth-of-type(2){
  margin-top: 4px;
  font-size: 18p;
  line-height: 24px;
  color: #262626;
}
div.container main.content div.side-column div.author div.member{
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}
div.container main.content div.side-column div.author div.member button:first{
  background-color: #0f88eb;
  color: #fff;
  border: 1px solid #0f88eb;
  padding: 0 16px;
  line-height: 32px;
  cursor: pointer;
  border-radius: 3px;
}
/* container end */