{include file = 'template/index/header.html'}
<link rel="stylesheet" href="{$css}bookmarks.css">
<!-- container start -->
<div class="container">
  <main class="con">
    <div class="row">
      <img class="tag-banner" src="{$img}bookmarks01.png" alt="">
      <!-- note-list start -->
      <ul class="note-list">
        <li>
          <div class="content">
            <div class="author">
              <a href="" class="avator">
                <img src="{$img}bookmarks02.png" alt="">
              </a>
              <div class="name">
                <a href="">名贵的考拉熊</a>
                <span>昨天 23:38</span>
              </div>
            </div>
            <a href="" class="title">我爸妈来简书看我</a>
            <p class="abstract">
      我爸又喝大了。他气势汹汹地在微信上问我：我咋看不着你写的文章？ 面对醉汉我有着异于常人的丰富经验，立刻连哄带骗：我那都是写着玩儿的，再说您也不爱看。 我爸很执着，说：你今天，...
            </p>
            <div class="meta">
              <a href="">
                <span class="iconfont">&#xe620;</span> 16865
              </a>
              <a href="">
                <span class="iconfont">&#xe667;</span> 414
              </a>
              <span>
                <span class="iconfont">&#xe621;</span>936
              </span>
              <span>
                <span class="iconfont">&#xe647;</span>13
              </span>
            </div>
          </div>
          <a href="" class="warp-img">
            <img src="{$img}bookmarks03.png" alt="">
          </a>
        </li>
      </ul>
      <!-- note-list end -->
    </div>
  </main>
</div>
<!-- container end -->