<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{$iconfont}">
  <link rel="stylesheet" href="{$css}center.css">
</head>

<body>
  <div class="person">
    <main class="content">
      <div class="left">
        <div class="main-top">
          <a href="">
            <img src="{$img}center01.png" alt="">
          </a>
          <div class="info">
            <a href="" class="title">幽谷草_434d</a>
            <ul class="detail">
              <li>
                <a href="">
                  <p>10</p>
                  <p>关注
                    <span>></span>
                  </p>
                </a>
              </li>
              <li>
                <a href="">
                  <p>0</p>
                  <p>粉丝
                    <span>></span>
                  </p>
                </a>
              </li>
              <li>
                <a href="">
                  <p>0</p>
                  <p>文章
                    <span>></span>
                  </p>
                </a>
              </li>
              <li>
                <a href="">
                  <p>0</p>
                  <p>字数
                    <span>></span>
                  </p>
                </a>
              </li>
              <li>
                <a href="">
                  <p>0</p>
                  <p>收获喜欢
                    <span>></span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="list">
          <ul class="menu">
            <li>
              <a href="">
                <span class='iconfont'>&#xe61f;</span>文章</a>
            </li>
            <li>
              <a href="">
                <span class='iconfont'>&#xe60f;</span>动态</a>
            </li>
            <li>
              <a href="">
                <span class='iconfont'>&#xe8c3;</span>最新评论</a>
            </li>
            <li>
              <a href="">
                <span class='iconfont'>&#xe638;</span>热门</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <div class="description">
          <div class="intro"></div>
        </div>
        <ul class="user">
          <li>
            <a href="">
              <span></span>
              <span>我关注的专题/文集</span>
            </a>
          </li>
          <li>
            <a href="">
              <span></span>
              <span>我喜欢的文章</span>
            </a>
          </li>
        </ul>
      </div>
    </main>
  </div>
</body>

</html>