<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{$css}comment.css">
</head>
<body>
  <div class="list">
    <p class="header">我的留言</p>
    <div class="list-item">
      <ul>
        <li>
          <a class="title" href="">你见过最侮辱观众智商的广告是哪个？</a>
          <div class="meta">
            <a href="" class="link">
              <img src="{$img}comment.jpg" alt="">
            </a>
            <div class="author">
              <p class="header">云水间</p>
              <p>IT</p>
            </div>
          </div>
          <div class="rich-content">
            <p class="inner">沙河街</p>
            <p class="time">发布于 09:08</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>