<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{$cssHeader}">
  <link rel="stylesheet" href="{$iconfont}">
</head>

<body>
  <!-- header start -->
  <header class="top">
    <main class="content">
      <a href="" class="left">
        <img src="{$logo}" height="40px" alt="">
      </a>
      <ul class="caption">
        <li>
          <a href="" class="active">首页</a>
        </li>
        <li>
          <a href="">说说</a>
        </li>
        <li>
          <a href="">留言板</a>
        </li>
        <li>
          <a href="">访客</a>
        </li>
        <li>
          <a href="">关于我</a>
        </li>
      </ul>
      <div class="search">
        <form action="">
          <div>
            <input type="text" placeholder="请输入关键字">
            <button type="submit" class="iconfont">
              <span class="iconfont">&#xe61e</span>
            </button>
          </div>
        </form>
      </div>
    </main>
  </header>
  <!-- header end -->