{include file = 'template/index/header.html'}
<link rel="stylesheet" href="{$css}settings.css" />
<div class="setting">
  <main class="content">
    <!-- aside start -->
    <div class="aside">
      <ul>
        <li>
          <a href="index.php?m=index&f=settings&a=settingsfirst" target="iframe">
            <div class="icon">
              <span class="iconfont">&#xe65c;</span>
            </div>
            <span>基础设置</span>
          </a>
        </li>
        <li>
          <a href="index.php?m=index&f=settings&a=settingsprofile" target="iframe">
            <div class="icon">
              <span class="iconfont">&#xe691;</span>
            </div>
            <span>个人资料</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- aside end -->
    <div class="main">
      <iframe src="" frameborder="0" name='iframe'></iframe>
    </div>
  </main>
</div>