<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{$css}timelinet.css">
</head>

<body>
  <ul class="note-list">
    <li>
      <div class="author">
        <a href="">
          <img class="nick" src="{$img}a1.png" alt="">
        </a>
        <div class="name">
          <a href="">幽谷草_434d</a>
          <span>关注了作者 · 10.23 10:22</span>
        </div>
      </div>
      <div class="detail">
        <div class="info">
          <a href="">
            <img class="nick" src="{$img}a1.png" alt="">
          </a>
          <div>
            <a href="">寻虎谈小说</a>
            <p>写了 30116 字，被 2488 人关注，获得了 138 个喜欢</p>
          </div>
          <a href="">
            <span class="iconfont"></span>
            <span>已关注</span>
          </a>
        </div>
        <p class="nature">
          业余作家，代表作中篇小说《黑白灰》发表于《山西文学》。微信LK15952841887。 啥也别说了，好小说都在《大神书单》。
        </p>
      </div>
    </li>
  </ul>
</body>

</html>