<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{$css}writerc.css">
</head>

<body>
  <div class="new-note">
    <a href="">
      <span>新建文章</span>
      <span class="iconfont"></span>
    </a>
  </div>
  <ul class="notes">
    <li>
      <a class="active note" href="index.php?m=index&f=writerr" target="right" href="">
        <div class="title">
          <span class="iconfotn"></span>
          <span>无标题文章</span>
        </div>
      </a>
    </li>
    <li>
      <a class="note" href="index.php?m=index&f=writerr" target="right">
        <div class="title">
          <span class="iconfotn"></span>
          <span>无标题文章</span>
        </div>
      </a>
    </li>
  </ul>
</body>

</html>